body {	
	font-family: 'Freckle Face', cursive;
	background-color: #C7B299;
	margin: 0;
	}
header {
	text-align: center;
	background-color: black;
	color: white;
	font-family: 'Freckle Face', cursive;
}
.selectPlayer {
	float: left;
	width: 20%;
	height: 100%;
	background-color: #A67C52;
}
.selectCharacteristics {
	width: 75%;
	float: right;
	margin: 20px;
}
.menuPlayer {
	background-color: #A67C52;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
.imageTitre {
	text-align: center;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.imageClasse {
	text-align: center;
	width: 150px;

}

.carteMonde {
	border: 1px black;
}
.listeClasse {
	display: inline;
	width: 100%;
}
.fomulaireCreation {
	width: 100%;
    display: inline-block;
}
.valueCharacteristics {
	margin-top: 30px;
	display: inline-block;
}
li {
	background-color: #A67C52;
	text-align: center;
	width: 10%;
    display: inline-block;
    list-style: none; /* pour enlever les puces sur IE7 */
    margin: 5px;
}

article div {
	color: black;
	font-size: 25px;
}
p {
	color: #603813;
	font-size: 1,2em;
}
.value  {
	height: 40px;
	width: 30px;
}
.valueText {
	height: 100px;
}
.setValue {
	margin-right: 10px;	
	float: left;
	width: 17%;
}