body {	
	font-family: 'Freckle Face', cursive;
	background-color: #C7B299;
	margin: 0;
	}
header {
	text-align: center;
	background-color: black;
	color: white;
	font-family: 'Freckle Face', cursive;
}
.selectPlayer {
	float: left;
	width: 20%;
	height: 100%;
	background-color: #A67C52;
}
.titre{text-align: center;font-family: Ringbearer;color:#803D15;font-size: 25px;}
.lancementJeu{
    text-align: center;
    
        a{
            color: #552000; font-size: 30px;font-family: Ringbearer; text-decoration: none;
        }
    }

.selectCharacteristics {
	width: 75%;
	float: right;
	margin: 20px;
}
.menuPlayer {
	background-color: #A67C52;
	padding: 20px;
        text-align: center;
        font-family: Ringbearer;
}
.imageTitre {
	text-align: center;
        padding-top: 30px;
}
.imageTitreChar{width: 277px;margin-bottom: 20px;}

.imageClasse {
	width: 75%;
        margin-top: 20px;

}

.carteMonde {
	border: 1px black;
}
.listeClasse {
	display: inline;
	width: 100%;
}
.fomulaireCreation {
	width: 100%;
    display: inline-block;
}
.valueCharacteristics {
	margin-top: 30px;
	display: inline-block;
}
li {
    background-color: #A67C52;
    text-align: center;
    width: 10%;
    display: inline-block;
    list-style: none; /* pour enlever les puces sur IE7 */
    margin: 5px;
    padding: 7px;
    cursor: pointer;
    border-radius: 6px;
}
li:hover{
    color: #603813;
}
.classeValue{font-family: Ringbearer;}
article div {
	color: black;
	font-size: 25px;
}
p {
	color: #603813;
	font-size: 1,2em;
}
.value  {
	height: 40px;
	width: 30px;
}
.valueText {
	height: 100px;
}
.setValue {
	margin-right: 6px;
        float: left;
        width: 17%;
        text-align: center;
        border-right: 1px solid #A67C52;
        padding-right: 20px;
        .values{width: 95px;height: 55px;background: #A67C52;margin: -55px 0px 35px 55px; 
                p{font-size: 41px;margin: 0;}
        }
}